.input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  margin: 0 auto;
}
.input:focus {
  outline: none;
}
.error{
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 400px;
  border: none;
  margin: 0 auto;

}